

body {
  
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

  .Hero-Section {
    height: 230px;
    width: 100%;
    background-color: white;
    background-image: url("../img/fondo.jpg");
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Mis trabajos */


#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
  padding: 1px;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
